<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css"
    />
    <link rel="stylesheet" href="/css/admin.css" />
    <title>Books</title>
  </head>
  <body>
    <div class="ui segment card-container">
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/manager/users.png" />
          </div>
          <div class="content">
            <a href="/api/admin/users" class="header">Users</a>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="image">
            <img src="/images/manager/books.png" />
          </div>
          <div class="content">
            <a href="/api/books" class="header">Books</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
