<div class="ui menu">
<% if(user){ %>
    <a href="/api/books/?show=loved" class="loved item pink inverted <% if(showLoved && showLoved!=='none') {%> active <%}%>">Loved &nbsp; <i class="fas fa-heart"></i></a>
    <a href="/api/books/" class="full-list item blue inverted <% if(!showLoved) {%> active <%}%>">Full List &nbsp; <i class="fas fa-list"></i></a>  
    <div class="right menu">
      <% if(user?.role=="admin") {%>
        <a href="/api/admin" class="item">Admin Dashboard</a>
      <%}%>
      <a href="/api/user/logout" class="item">Log out</a>
      <a class="item">Hello <%= user.name%></a>
    </div>
<%} else {%>
  <div class="right menu"></div>
      <a href="/api/user/register" class="item">Sign up</a>
      <a href="/api/user/login" class="item">Log in</a>
 <% } %>
    </div>
  </div>

